<div class="layout-content">

    <!-- [ content ] Start -->
    <div class="container-fluid flex-grow-1 container-p-y">
        <router-outlet></router-outlet>

        <h4 class="font-weight-bold py-3 mb-0">List User</h4>


        <hr class="border-light container-m--x my-4">

        <div>
            <a class="btn btn-success mb-3" routerLink="/admin/add-user">Add User</a>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>role</th>
                    <th>Edit</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of users">
                    <th scope="row">{{p.id}}</th>
                    <td scope="col">{{p.userName}}</td>
                    <td scope="col">{{p.password}}</td>
                    <td scope="col">{{p.email}}</td>
                    <td scope="col">{{p.name}}</td>
                    <td scope="col">{{p.role}}</td>
                    <td> <a routerLink="/admin/edit-user" class="btn btn-primary"><i class="fa fa-edit"></i></a></td>
                    <td> <a class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>


    </div>
    <!-- [ content ] End -->

</div>
