<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Food Theme</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last border border-primary">
                        <div class="text w-100">
                            <h2>Welcome to login</h2>
                            <p>Don't have an account?</p>
                            <a href="register" class="btn btn-white btn-outline-white">Sign Up</a>
                        </div>
                    </div>
                    <div class="login-wrap p-4 p-lg-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group mb-3">
                                <label class="label" for="username">Username</label>
                                <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username">
                                <div *ngIf="loginForm.get('username').touched && loginForm.get('username').invalid">
                                    <small *ngIf="loginForm.get('username').errors.required" class="error-message">Không để trống Username.</small>
                                    <small *ngIf="loginForm.get('username').errors.minlength" class="error-message">Username phải dài hơn 6 ký tự.</small>
                                    <small *ngIf="loginForm.get('username').errors.pattern" class="error-message">Username không được chứa ký tự đặt biệt.</small>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Password</label>
                                <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
                                <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
                                    <small *ngIf="loginForm.get('password').errors.required" class="error-message">Không để trống mật khẩu.</small>
                                    <small *ngIf="loginForm.get('password').errors.minlength" class="error-message">Mật khẩu phải dài hơn 6 ký tự.</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>