<div class="layout-content">
    <nav class="layout-footer footer bg-dark">
        <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
            <div class="pt-3">
                <span class="footer-text font-weight-semibold">&copy; <a href="" class="footer-link text-white" target="_blank">Group: Piscasso</a></span>
            </div>
            <div class="pt-3">
                <a href="#" class="footer-link pt-3 text-white">About Us</a>
                <a href="#" class="footer-link pt-3 text-white ml-4">Help</a>
                <a href="#" class="footer-link pt-3 text-white ml-4">Contact</a>
                <a href="#" class="footer-link pt-3 text-white ml-4">Terms &amp; Conditions</a>
            </div>
        </div>
    </nav>
</div>


<!-- <script src="../../assets/js/pace.js"></script>
<script src="../../assets/js/jquery-3.3.1.min.js"></script>
<script src="../../assets/libs/popper/popper.js"></script>
<script src="../../assets/js/bootstrap.js"></script>
<script src="../../assets/js/sidenav.js"></script>
<script src="../../assets/js/layout-helpers.js"></script>
<script src="../../assets/js/material-ripple.js"></script> -->

<!-- Libs -->
<!-- <script src="../../assets/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../../assets/libs/eve/eve.js"></script>
<script src="../../assets/libs/flot/flot.js"></script>
<script src="../../assets/libs/flot/curvedLines.js"></script>
<script src="../../assets/libs/chart-am4/core.js"></script>
<script src="../../assets/libs/chart-am4/charts.js"></script>
<script src="../../assets/libs/chart-am4/animated.js"></script> -->

<!-- Demo -->
<!-- <script src="../../assets/js/demo.js"></script>
<script src="../../assets/js/analytics.js"></script>
<script src="../../assets/js/pages/dashboards_index.js"></script> -->