<div class="layout-content">

    <div class="container-fluid flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-0">Add User</h4>
        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                <li class="breadcrumb-item">User</li>
                <li class="breadcrumb-item active">Edit User</li>

            </ol>
        </div>

        <div class="card mb-4">

            <h6 class="card-header">Edit User</h6>

            <div class="card-body">
                <form>
                    <div class="form-group col-md-6">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" placeholder="User">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label ">Pass</label>
                        <input type="password" class="form-control" placeholder="Password">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label ">Email</label>
                        <input type="email" class="form-control" placeholder="Email">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md-6">

                        <label class="form-label ">Name</label>
                        <input type="text" class="form-control" placeholder="Name">
                        <div class="clearfix"></div>
                    </div>


                    <div class="form-group col-md-4">
                        <label class="form-label">Role</label>
                        <select class="custom-select">
                            <option>Employee</option>
                            <option>Admin</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Add User</button>
                </form>
            </div>
        </div>




    </div>
</div>