<div class="layout-content">
    <div class="container-fluid flex-grow-1 container-p-y">
        <router-outlet></router-outlet>
        <h4 class="font-weight-bold py-3 mb-0">List Category</h4>

        <hr class="border-light container-m--x my-4">

        <div>
            <a class="btn btn-success mb-3" routerLink="/admin/add-category">Add Category</a>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cate of categories">
                    <th scope="row">{{cate.idCategory}}</th>
                    <td scope="col"><img width="150px" [src]="cate.image" alt="">{{cate.image}}</td>
                    <td scope="col">{{cate.nameCategory}}</td>
                    <td><a type="a" class="btn btn-round btn-success">{{cate.status}}</a></td>
                    <td><a (click)="navigateToEditCategory(cate.idCategory)" class="btn btn-primary"><i class="fa fa-edit"></i></a></td>
                    <td><a (click)="deleteCategory(cate.idCategory)" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>